@font-face {
  font-family: 'SlowRiver';
  src: url('/public/fonts/SASlowRiver.woff') format('woff');
  /* Add additional font-face rules for different formats if necessary */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FCE7B3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.component {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
}

.title {
  background-color: #FEA751;
  color: #fff;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  font-family: 'SlowRiver', sans-serif;
  letter-spacing: 2px;
}

.content {
  background-color: #F9EAD7;
  color: #000000;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.copyright {
  text-align: center;
  padding-bottom: 10px;
}

.subtitle {
  margin-top: 8px;
}

a {
  color: inherit;
}

.eventDate {
  font-family: 'SlowRiver', sans-serif;
  background-color: #FFC995;
  text-align: center;
  color: #000;
  padding: 10px;
  margin: 10px 0;
  margin-top: 0;
  border-radius: 5px;
}

.webEventDetails{
  margin-bottom: 10px;
}

.eventDetails{
  margin-bottom: 5px;
}

.eventPhoto {
  max-width: inherit;
  border: 1px solid;
}

.eventWeb {
  font-size: x-small;
}

.announcement {
  background-color: #FEA751;
  color: white;
  font-family: 'SlowRiver', sans-serif;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: xx-large;
}

@media screen and (min-width: 501px) {
  .mobileEventDetails {
    display: none !important;
  }
  .webEventDetails {
    display: flex;
  }
  .eventDate {
    font-size: x-large;
  }
}

@media screen and (max-width: 500px) {
  .mobileEventDetails {
    display: block !important;
  }
  .webEventDetails {
    display: none;
  }
  .eventDate {
    font-size: inherit;
  }
}

.mobileEventDetails {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.button {
  background-color: #FEA751; 
  border: none; 
  color: #461F22; 
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 14px; 
  margin: 4px 2px; 
  cursor: pointer;
  border-radius: 8px;
  width: inherit;
}

.buttonContainer {
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center;
}

.button:active {
  transform: translateY(4px); /* Pushes the button down a bit */
}

.subComponent {
  font-family: 'SlowRiver', sans-serif;
  background-color: #FFC995;
  text-align: center;
  color: #000;
  padding: 10px;
  margin: 10px 0;
  margin-top: 0;
  border-radius: 5px;
}

.navbar {
  font-family: 'SlowRiver', sans-serif;
}